/node_modules
/public_html/hot
/public_html/storage
/resources/scss/.sass-cache
/resources/scss/layout/.sass-cache
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
