.categories {
    .textContainer {
        width: 100%;
        max-width: 1300px;
        position: relative;
        top: -50px;
        font-size: 40px;
        a {
            text-decoration: unset;
            font-size: 35px;
            letter-spacing: 3px;
            font-weight: lighter;
        }
    }
    &.pageContainer {
        padding-top: 90px;
    }
    .button {
        text-decoration: unset;
        padding: 50px 0 20px 0;
        height: 100px;
        text-align: center;
    }
    .subject {
        font-size: 70px;
        padding-bottom: 20px;
    }
    .border {
        top: -50px;
    }
    .description {
        text-align: center;
        margin: 40px auto 100px auto;
        max-width: 800px;
        font-size: 28px;
        line-height: 1.4em;
    }
}
.recipe_container {
    margin: 80px 0;
    display: flex;
}
.image_recipe {
    height: 300px;
    background-size: cover;
    background-position: center;
}
.image_title {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
}
