
.header_home {
    transition-property: background-color;
    transition-duration: 0.5s;
    &.container_header {
        transition-property: box-shadow;
        transition-duration: 2s;
        box-shadow: 0 0 10px $white;
    }
    &.over_header {
        .header {
            height: max-content;
        }
        .logo {
            margin: auto;
            padding-top: unset;
            font-size: 50px;
            height: max-content;
        }
        .buttonContainer {
            padding-top: 15px;
            height: max-content;
        }
        box-shadow: 0 0 2px $white;
        height: max-content;
        background-color: $black;
    }
    .header {
        transition-property: height;
        transition-duration: 0.5s;
        background-color: transparent;
        color: $white;
        height: 120px;
        max-width: calc(100% - 100px);
    }
    .logo {
        transition-property: font-size, padding-top, margin;
        transition-duration: 1s;
        font-size: 80px;
        padding-top: 20px;
        margin-bottom: unset;
        color: $white;
    }
    .buttonContainer {
        transition-property: padding-top;
        transition-duration: 1s;
        padding-top: 20px;
        align-self: center;
        margin-bottom: unset;
    }
    .button {
        color: $white;
        text-decoration-color: $white;
    }
}
.homePage {
    .textContainer {
        max-width: 100%;
    }
    .text_image {
        height: 500px;
        padding: 30px 0;
        border: unset;
        margin: 80px auto;
        transition-property: box-shadow;
        transition-duration: 1s;
    }
    .text_image:hover {
        box-shadow: 0 0 5px #00000030;
    }
    &.pageContainer {
        max-width: 100%;
        padding-top: unset;
    }
    .titleContainer {
        height: 850px;
        margin: 0;
    }
    .subject {
        font-family: $serif_font;
        font-size: 60px;
        font-weight: bold;
        padding-top: 30px;
    }
    .border {
        border-top: 2px solid $black;
        top: -35px;
    }
    .text_link {
        width:30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        a {
            font-size: 40px;
            max-width: max-content;
            margin: auto;
            text-decoration-style: solid;
            text-decoration-color: $black;
            transition-property: opacity;
        }
        a:hover {
            opacity: 0.7;
            text-decoration: unset;
        }
    }
}
.image{
    width: 65%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
}
.text {
    width: 90%;
    padding:20px;
    line-height: 1.4em;
    text-align: center;
    font-size: 28px;
}

