
.header_home {
    transition-property: background-color;
    transition-duration: 0.5s;
    &.container_header {
        transition-property: box-shadow;
        transition-duration: 2s;
        box-shadow: 0 0 10px $white;
    }
    &.over_header {
        .header {
            height: max-content;
        }
        .logo {
            margin: auto;
            padding-top: unset;
            font-size: 50px;
            height: max-content;
        }
        .buttonContainer {
            padding-top: 15px;
            height: max-content;
        }
        box-shadow: 0 0 2px $white;
        height: max-content;
        background-color: $black;
    }
    .header {
        transition-property: height;
        transition-duration: 0.5s;
        background-color: transparent;
        color: $white;
        height: 120px;
        max-width: calc(100% - 100px);
    }
    .logo {
        transition-property: font-size, padding-top, margin;
        transition-duration: 1s;
        font-size: 80px;
        padding-top: 20px;
        margin-bottom: unset;
        color: $white;
    }
    .buttonContainer {
        transition-property: padding-top;
        transition-duration: 1s;
        padding-top: 20px;
        align-self: center;
        margin-bottom: unset;
    }
    .button {
        color: $white;
        text-decoration-color: $white;
    }
}
.main_container {
    &--home {
        max-width: 100%;
        padding-top: unset;
    }
}

.main_image {
    &--home {
        margin: unset;
        height: 850px;
    }
}

.main_title {
    &--home {
        font-family: $serif_font;
        font-size: 60px;
        font-weight: bold;
        padding-top: 30px;
    }
}

.border {
    &--home {
        border-top: 2px solid $black;
        top: -35px;
    }
}

.page_container {
    &--home {
        max-width: 100%;
    }
}

.main_content {
    &--home {
        & div {
            border-right: 0;
            border-left: 0;
        }
        height: 500px;
        padding: 30px 0;
        margin: 80px auto;
        transition-property: box-shadow;
        transition-duration: 1s;
        &:hover {
            box-shadow: 0 0 5px #00000030;
        }
        & a {
            text-decoration-color: darkred;
        }
    }
}

