.main_container {
    &--ingredients {
        padding: 100px 0 40px 0;
    }
}
.main_image {
    &--ingredients {
        height: 290px;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 900px;
        margin: 60px auto;
    }
}
.main_title {
    &--ingredients {
        display: block;
        color: $black;
        box-shadow: 0 20px 30px $black;
        border-radius: 4px;
        padding: 5px 20px;
        font-size: 60px;
        font-weight: lighter;
    }
}
.main_text {
    &--ingredients {
        margin-bottom: 150px;
    }
}
.main_content {
    &--ingredients {
        display: flex;
        flex-direction: column;
        margin: 10px auto 120px auto;
        box-shadow: 0 20px 40px rgba(0,0,0,0.1);
        & a {
            text-decoration: none;
            &:hover {
                .title {
                    &--ingredients {
                        background-color: $black_transparent;
                    }
                }
            }
        }
        &:nth-child(n) {
            border: 0;
        }
        &:nth-child(2n) {
            flex-direction: column;
        }

    }
    &__image {
        &--ingredients {
            height: 500px;
            width: 100%;
            background-size: cover;
        }
    }
    &__text {
        &--ingredients {
            width: 80%;
            text-align: center;
            line-height: 1.4em;
            margin: 20px auto;
        }
    }
}
.title {
    &--ingredients {
        background-color: darkred;
        display: block;
        color: white;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.4s;
        padding: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        max-width: 1000px;
    }
    .main_container {
        &--ingredients {
            max-width: 900px;
            width: 95%;
            margin: auto;
        }
    }
    .main_title {
        &--ingredients {
            font-size: 45px;
        }
    }

    .main_text {
        &--ingredients {
            font-size: 25px;
            max-width: 900px;
            margin: 40px auto 100px auto;
        }
    }

    .page_container {
        &--ingredients {
            max-width: 900px;
        }
    }
    .main_content {
        &--ingredients {
            margin: 10px auto 100px auto;
        }
        &__image {
            &--ingredients {
                height: 400px;
            }
        }
        &__text {
            &--ingredients {
                font-size: 25px;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .main_image {
        &--ingredients {
            margin:40px auto 40px auto ;
            background-size: cover;
            height: 200px;
            max-width: 600px;
        }
    }

    .main_title {
        &--ingredients {
            font-size: 40px;
        }
    }

    .main_text {
        &--ingredients {
            font-size: 22px;
            margin: 40px auto 100px auto;
            max-width: 600px;
        }
    }

    .page_container {
        &--ingredients {
            max-width: 600px;
        }
    }
    .main_content {
        &--ingredients {
            margin: 10px auto 80px auto;
        }
        &__image {
            &--ingredients {
                height: 300px;
                background-position: center;
            }
        }
        &__text {
            &--ingredients {
                font-size: 22px;
            }
        }
    }
    .title {
        &--ingredients {
            font-size: 40px;
            padding: 2px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main_image {
        &--ingredients {
            margin:20px auto 20px auto ;
        }
    }
    .main_text {
        &--ingredients {
            font-size: 18px;
            padding: 0 20px;
            margin: 40px auto 60px auto;
        }
    }
    .main_content {
        &--ingredients {
            margin: 10px auto 50px auto;
        }
        &__image {
            &--ingredients {
                height: 250px;
                background-position: center;
            }
        }
        &__text {
            &--ingredients {
                font-size: 18px;
                width: 90%;
                margin: auto;
            }
        }
    }
    .title {
        &--ingredients {
            font-size: 35px;
            padding: 0;
        }
    }
}