.main_container {
    &--ingredients {
        padding: 100px 0 40px 0;
    }
}
.main_image {
    &--ingredients {
        height: 270px;
        background-size: auto;
        margin: 60px auto;
    }
}
.main_title {
    &--ingredients {
        display: block;
        color: $black;
        box-shadow: 0 20px 30px $black;
        border-radius: 4px;
        padding: 5px 20px;
        font-size: 60px;
        font-weight: lighter;
    }
}
.main_text {
    &--ingredients {
        margin-bottom: 150px;
    }
}
.main_content {
    &--ingredients {
        display: flex;
        flex-direction: column;
        margin: 10px auto 150px auto;
        box-shadow: 0 20px 40px rgba(0,0,0,0.1);
        & a {
            text-decoration: none;
            &:hover {
                .title {
                    &--ingredients {
                        background-color: $black_transparent;
                    }
                }
            }
        }
        &:nth-child(n) {
            border: 0;
        }
        &:nth-child(2n) {
            flex-direction: column;
        }

    }
    &__image {
        &--ingredients {
            height: 500px;
            width: 100%;
            background-size: cover;
        }
    }
    &__text {
        &--ingredients {
            width: 80%;
            text-align: center;
            line-height: 1.4em;
            margin: 20px auto;
        }
    }
}
.title {
    &--ingredients {
        background-color: darkred;
        display: block;
        color: white;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.4s;
    }
}
