.macroText {
    max-width: 100%;
}
.macro {
    display: flex;
    justify-content: space-between;
}
.macro>.subject {
    margin: 0;
    width: 15%;
}
.list_macro {
    width: 80%;
    height: 750px;
}

