.body {
    margin: 0 20px;
}
.macroText {
    max-width: 1300px;
}
.macroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.macro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text_macro {
    width: 40%;
}
.image_macro {
    width: 55%;
}
.list_macro {
    font-size: 35px;
    display: flex;
    flex-direction: column;
}
.list_macro>a {
    margin: 10px;
}
.list_recipes {
    list-style: inside;
    font-size: 30px;

}
