.main_content {
    &--macro{
        width: 100%;
        margin: 10px 0 120px 0;
        height: 400px;
        transition-property: box-shadow, margin;
        transition-duration: 0.4s;
        &:nth-child(2n) .list--macro{
            margin-left: auto;
        }
        &:nth-child(2n) .list__element {
            margin-left: auto;
        }
        &:hover {
            box-shadow: 0 0 20px #00000060;
            & .list--macro, .list__element {
                margin: 0 auto;
            }
        }
    }
}

.list {
    &--macro {
        padding: 10px;
        justify-content: space-around;
        margin: initial;
    }
    &__element {
        display: flex;
        flex-direction: row;
        align-self: baseline;
    }
    &__title {
        font-size: 30px;
        padding: 10px;
        font-weight: bolder;
        margin: auto;
        background-color: unset;
        a {
            transition-property: opacity;
            transition-duration: 0.5s;
            text-decoration-style: unset;
        }
        &:hover {
            a {
                opacity: 0.5;
            }
        }
    }
}

.title {
    &--macro {
        background-color: $black_transparent;
        color: $white;
        position: relative;
        z-index: 1;
        top: 250px;
        font-size: 70px;
        background-position: center;
        padding: unset;
    }
}
