.pageContainer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 90px;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    background-size: cover;
}
.textContainer {
    margin: auto;
    color: $black;
    font-size: 30px;
    max-width: 1000px;
}
.textContainer a {
    text-decoration-line: underline;
    color: $black;
    text-decoration-style: double;
    text-decoration-color: $black;
}
.subject {
    max-width: max-content;
    position: relative;
    width: 100%;
    padding: 50px 5px 0 5px;
    background-color: $white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    z-index: 1;
}
.border {
    width: 100%;
    height: 40px;
    background-color: $white;
    border-top: 1px solid $black;
    position: relative;
    top: -20px;
}
.border-end {
    width: 100%;
    height: 20px;
    background-color: $white;
    border-top: 1px solid $black;
    position: relative;
}
.description {
    margin: auto;
    padding: 10px 20px;
    width: 100%;
    max-width: 1000px;
}
.ingredients{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 50px;
}
.ingredients>.subject {
    text-align: center;
    transform: rotate(270deg);
    width: 100%;
    margin-right: -20px;
}
.ingredients>.border {
    height: auto;
    width: 20px;
    background-color: $white;
    border-left: 1px solid $black;
    border-top: none;
    position: relative;
    top: 0;
    left: -35px;
}
.list {
    padding: 10px 70px 10px 0;
    width: 70%;
    max-width: 700px;
    margin: 10px;
    text-align: center;
}
.image_method {
    width: 50%;
    max-width: 600px;
    height: 600px;
    padding: 20px 0;
}
.text_method {
    width: 40%;
    max-width: 600px;
    height: max-content;
    padding: 20px 5px;
    margin: auto;
}
.text_image {
    top: -23px;
    display: flex;
    position: relative;
    margin: 50px 0 50px 0;
    max-width: 100%;
}
.text_image:nth-child(2n) {
    flex-direction: row-reverse;
    border-top: none;
    border-right: 1px solid $black;
}
.text_image:nth-child(2n+1) {
    border-left: 1px solid $black;
}
