.title {
    &--text {
        background-color: $white;
    }
}

.border {
    &--detail {
        top: -30px;
    }
}

.ingredients{
    width: 100%;
    display: flex;
    height: 100%;
    padding-top: 50px;
}
.subject_reverse {
    text-align: center;
    transform: rotate(270deg);
    width: 100%;
    margin-right: -20px;
}
.border_reverse {
    height: auto;
    width: 20px;
    background-color: $white;
    border-left: 1px solid $black;
    border-top: none;
    position: relative;
    top: 0;
    left: -35px;
}
.method {
    margin: 50px auto;
}
.list {
    padding: 10px 70px 10px 0;
    width: 70%;
    max-width: 700px;
    margin: 10px;
    text-align: center;
}
.image_method {
    width: 50%;
    max-width: 600px;
    height: 600px;
    padding: 20px 0;
}
.text_method {
    width: 40%;
    max-width: 600px;
    height: max-content;
    padding: 20px 5px;
    margin: auto;
}
.recipeDetail {
    .text_image {
        top: -23px;
        position: relative;
    }
}
