.main_container {
    &--ingredient {
        padding: 40px 0;
    }
}

.main_image {
    &--ingredient {
        display: flex;
        flex-direction: column;
    }
}
.main_title {
    &--ingredient {
        font-size: 100px;
        color: $white;
        font-weight: lighter;
        text-shadow: 0 10px 10px $black;
        height: 150px;
        max-width: 100%;
        position: relative;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        margin: 0;
    }
}
.sfondoProva {
    width: 100%;
    background-color: $black_transparent;
    height: inherit;
}
