.container_footer {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    background-color: $black;
    box-shadow: 0 0 50px #00000090;
}
.footer {
    max-width: 1300px;
    margin: auto;
    color: $white;
}
