.container_header {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #00000030;
}
.header {
    color: $black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 60px;
    background-color: $white;
    padding: 0 0 20px 0 ;
    font-family: $serif_font;
}

.logo {
    Font-size: 55px;
    padding: 4px 7px;
    margin-bottom: 15px;
    text-decoration: unset;
    color: $black;
}
.button {
    padding:3px;
    text-align: center;
    font-size: 25px;
}
.buttonContainer {
    max-width: 50%;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
}

