.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: calc(100% - 100px);
    margin: 10px 50px;
    height: 80px;
}
.logo {
    border: 7px solid $driftwood;
    Font-size: 45px;
    font-family: 'Playfair Display', serif;
    color: $driftwood;
    background-color: $redpepper_trasparenza;
    text-align: center;
    padding: 4px 7px;
}
.button {
    padding:3px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.buttonContainer {
    max-width: 50%;
    display: flex;
    align-self: flex-end;
}

