@keyframes flash_message-enter {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.flash_messages {
  position: fixed;
  z-index: 2;
  top: 100px;
  width: 100%;
  max-width: 1300px;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  font-size: 20px;
  font-weight: 600;
  color: $white;
}

.flash_message {
    position: relative;
    margin: auto 0 20px auto;
    max-width: 1280px;
    width: max-content;
    padding: 10px 40px 10px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation-name: flash_message-enter;
    animation-duration: 1s;
  &--success {
    background-color: #96d66e;
    color: #186c01;
  }
  &--error {
    background-color: rgb(252, 202, 202);
    color: #cd0303;
  }
}
.closure {
  position: absolute;
  font-size: 14px;
  top: 1px;
  right: 1px;
  padding: 2px 7px;
  border-radius: 5px;
}
.closed {
  display: none;
}


