.button {
    font-size: large;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: $black;
    color: $black;
    padding: 4px;
}


