.title {
    text-align: center;
    font-family: $main_font;
    font-size: 60px;
    padding: 20px;
    font-weight: lighter;
    color: $black;
    background-color:$white_transparent;
    max-width: 100%;
}
