.button {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background-color: $background_button;
    color: $color_button;
    padding: 2px;
    border: 1px solid $border_button;
    border-radius: 2px;

}
