.title {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    padding: 20px;
    font-weight: lighter;
    color: $black;
    background-color:$background_title;
    max-width: 100%;
}
