.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    font-weight: lighter;
    color: $color_title;
    background-color:$background_title;
    max-width: 100%;
}
