//colori
$mushroom: #FEF2E4;
$titleColor: $mushroom;
$onion: rgba(245, 127, 46, 0.62);
$onion-trasparenza: rgba(253, 151, 79, 0.32);
$bodycolor: $onion-trasparenza;
$redpepper: #c60000;
$redpepper_trasparenza: rgb(212, 84, 84);
$driftwood: #805a3b;
$driftwood-tenue: #c1a28c;
$backgroundHeader: $driftwood;
$black: black;
$driftwood-trasparenza: rgba(252, 252, 252, 0.53);
$background_title: $driftwood-trasparenza;
$color_button: $driftwood;
$background_button: $onion;
$border_button: $driftwood;
$background_text: $driftwood-tenue;
